--extra-index-url https://download.pytorch.org/whl/cu118
absl-py
accelerate
addict
aiofiles
aiohttp
aiosignal
albumentations==0.5.2
annotated-types
ansi2html
antlr4-python3-runtime
anyio
asttokens
async-timeout
attrs
backcall
blessed
braceexpand
cachetools
carvekit-colab
certifi
charset-normalizer
click
clip
cmake
colorama
comm
ConfigArgParse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
datasets
decorator
diffusers
dill
easydict
einops
exceptiongroup
executing
fastapi
fastjsonschema
filelock
Flask
fonttools
frozenlist
fsspec
ftfy
fvcore
google-auth
google-auth-oauthlib
gorilla-core
gpustat
grpcio
h11
h5py
hydra-core
icecream
idna
imageio
imageio-ffmpeg
imgaug
imhist
importlib-metadata
importlib-resources
imWatermark
iniconfig
iopath
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab-widgets
kiwisolver
kornia
lazy_loader
lightning-utilities
lit
lmdb
loguru
lpips
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
moviepy
mpmath
multidict
multiprocess
mypy-extensions
nbformat
nerfacc
nest-asyncio
networkx
ninja
numpy==1.26.4
oauthlib
omegaconf
open-clip-torch
open3d
opencv-python
opencv-python-headless
packaging
pandas
parso
peft
pexpect
pickleshare
pillow
piq
pkgutil_resolve_name
platformdirs
plotly
pluggy
plyfile
portalocker
proglog
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
PyMCubes
pymeshlab
pynvml
pyparsing
pyquaternion
pyre-extensions
pytest
python-dateutil
python-multipart
pytorch-lightning==1.9.0
pytz
PyWavelets
PyYAML
referencing
regex
requests
requests-oauthlib
retrying
rich
roma
rpds-py
rsa
Rtree
safetensors
scikit-image
scikit-learn
scipy
shapely
six
sniffio
stack-data
starlette
sympy
tabulate
taming-transformers-rom1504
tenacity
tensorboard
tensorboard-data-server
tensorboardX
termcolor
threadpoolctl
tifffile
tokenizers
tomli
torch 
torchvision 
torch-efficient-distloss
torch-fidelity
torchmetrics
tqdm
traitlets
transformers
trimesh
triton
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
webdataset
Werkzeug
widgetsnbextension
xformers
xxhash
yacs
yapf
yarl
zipp
gdown